/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

//#ffcb05 yellow
//#3466af blue
//#ee4025 red

body {
  font-family: "Roboto", Helvetica, sans-serif;
}

.bg-red {
  background: #ee4025;
  background-size: cover !important;
}

.navbar-brand {
  color: #ffcb05 !important;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(52,102,175,0.5);
}

.nav-item a {
  color: #fff;
}

.logo {
  width: 4ex;
  margin-right: 2ex;
}

.navbar .collapse {
  text-align: right;
}

.navbar-right a {
  color: #fff;
  margin-left: 1ex;
}

.welcome {
  margin-top: 2ex;
}

.box-login {
  min-height: 400px;
  background-color: rgba(52, 49, 49, 0.7);
  padding: 4ex 2ex;
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
  margin: 10ex auto;
}

.box-login .btn {
  margin-top: 2ex;
  margin-bottom: 2ex;
}

.box-login img {
  width: 15ex;
  margin-bottom: 2ex;
}

.box-login a {
  color: #fff;
}