// Place all the styles related to the trainers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.trainer-profile {
  margin: 2ex auto;
  padding: 3ex;  
  border: solid 1px;
  border-radius: 0.2em;
}

.trainer-profile h3 {
  text-align: center;
  margin-bottom: 2ex;
}

.profile-image {
  width: 15ex;
  height: 15ex;
  border: solid 2px;
  border-radius: 15ex;
  margin: 0 auto;
  background-color: rgba(52, 102, 175, 0.2);
}

.profile-image img {
  width: 100%;
}